<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linkFlow.manager.common.dao.Erc20BlockDao" >
<resultMap id="BaseResultMap" type="Erc20BlockVO" >
<id column="eb_idx" property="ebIdx" jdbcType="BIGINT" />
<result column="eb_create_date" property="ebCreateDate" jdbcType="TIMESTAMP" />
<result column="eb_update_date" property="ebUpdateDate" jdbcType="TIMESTAMP" />
<result column="eb_state" property="ebState" jdbcType="TINYINT" />
<result column="eb_gas_limit" property="ebGasLimit" jdbcType="BIGINT" />
<result column="eb_gas_used" property="ebGasUsed" jdbcType="BIGINT" />
<result column="eb_tx_raw_count" property="ebTxRawCount" jdbcType="INTEGER" />
<result column="eb_tx_valid_count" property="ebTxValidCount" jdbcType="INTEGER" />
<result column="eb_block_hash" property="ebBlockHash" jdbcType="VARCHAR" />
<result column="eb_block_number" property="ebBlockNumber" jdbcType="BIGINT" />
<result column="eb_block_string" property="ebBlockString" jdbcType="VARCHAR" />
<result column="eb_timestamp_date" property="ebTimestampDate" jdbcType="TIMESTAMP" />
<result column="eb_timestamp_string" property="ebTimestampString" jdbcType="VARCHAR" />
</resultMap>

<sql id="Base_Column_List" >eb_idx, eb_create_date, eb_update_date, eb_state, eb_tx_raw_count, eb_tx_valid_count,eb_block_hash,eb_block_number, eb_block_string, eb_timestamp_date, eb_timestamp_string, eb_gas_limit, eb_gas_used</sql>

<sql id="BaseSearchQuery">
<trim suffixOverrides="AND">
<if test="searchColumn != null and search != ''">
<if test="searchColumn == 'all'">
(eb_block_number = #{search} OR
eb_block_string = #{search} OR
eb_block_hash = #{search}) AND
</if>
</if>
<if test="ebIdx != null">eb_idx = #{ebIdx} AND</if>
<if test="ebState != null">eb_state = #{ebState} AND</if>
<if test="ebBlockHash != null">eb_block_hash = #{ebBlockHash} AND</if>
<if test="ebBlockString != null">eb_block_string = #{ebBlockString} AND</if>
<if test="ebBlockNumber != null">eb_block_number = #{ebBlockNumber} AND</if>
<if test="ebBlockNumberOver != null">eb_block_number >= #{ebBlockNumberOver} AND</if>
<if test="searchStartDate != null and searchStartDate != ''">eb_timestamp_date >= #{searchStartDate} AND</if>
<if test="searchEndDate != null and searchEndDate != ''">#{searchEndDate} >= eb_timestamp_date AND</if>
</trim>
</sql>

<insert id="insert" parameterType="Erc20BlockVO" ></insert>
<insert id="insertNotExist" parameterType="Erc20BlockVO" >
insert IGNORE into z_erc20_block
<trim prefix="(" suffix=")" suffixOverrides="," >
<if test="ebState != null" >eb_state,</if>
<if test="ebTxRawCount != null" >eb_tx_raw_count,</if>
<if test="ebTxValidCount != null" >eb_tx_valid_count,</if>
<if test="ebGasLimit != null" >eb_gas_limit,</if>
<if test="ebGasUsed != null" >eb_gas_used,</if>
<if test="ebBlockHash != null" >eb_block_hash,</if>
<if test="ebBlockNumber != null" >eb_block_number,</if>
<if test="ebBlockString != null" >eb_block_string,</if>
<if test="ebTimestampDate != null" >eb_timestamp_date,</if>
<if test="ebTimestampString != null" >eb_timestamp_string,</if>
</trim>
<trim prefix="values (" suffix=")" suffixOverrides="," >
<if test="ebState != null" >#{ebState,jdbcType=TINYINT},</if>
<if test="ebTxRawCount != null" >#{ebTxRawCount,jdbcType=INTEGER},</if>
<if test="ebTxValidCount != null" >#{ebTxValidCount,jdbcType=INTEGER},</if>
<if test="ebGasLimit != null" >#{ebGasLimit,jdbcType=BIGINT},</if>
<if test="ebGasUsed != null" >#{ebGasUsed,jdbcType=BIGINT},</if>
<if test="ebBlockHash != null" >#{ebBlockHash,jdbcType=VARCHAR},</if>
<if test="ebBlockNumber != null" >#{ebBlockNumber,jdbcType=BIGINT},</if>
<if test="ebBlockString != null" >#{ebBlockString,jdbcType=VARCHAR},</if>
<if test="ebTimestampDate != null" >#{ebTimestampDate,jdbcType=TIMESTAMP},</if>
<if test="ebTimestampString != null" >#{ebTimestampString,jdbcType=VARCHAR},</if>
</trim>
</insert>

<update id="update" parameterType="Erc20BlockVO" >
update z_erc20_block
<set >
<if test="ebUpdateDate != null" >eb_update_date = #{ebUpdateDate,jdbcType=TIMESTAMP},</if>
<if test="ebState != null" >eb_state = #{ebState,jdbcType=TINYINT},</if>
<if test="ebTxValidCount != null" >eb_tx_valid_count = #{ebTxValidCount,jdbcType=INTEGER},</if>
</set>
where eb_idx = #{ebIdx,jdbcType=BIGINT}
</update>

<update id="updateByBlockNumber" parameterType="Erc20BlockVO" >
update z_erc20_block
<set >
<if test="ebUpdateDate != null" >eb_update_date = #{ebUpdateDate,jdbcType=TIMESTAMP},</if>
<if test="ebState != null" >eb_state = #{ebState,jdbcType=TINYINT},</if>
<if test="ebTxValidCount != null" >eb_tx_valid_count = #{ebTxValidCount,jdbcType=INTEGER},</if>
</set>
where eb_idx > 0 AND eb_block_number = #{ebBlockNumber,jdbcType=BIGINT}
</update>

<select id="selectBySearch" parameterType="hashmap" resultMap="BaseResultMap">SELECT <include refid="Base_Column_List"/> FROM z_erc20_block <where><include refid="BaseSearchQuery"/></where><if test="orderColumn != null">ORDER BY ${orderColumn} ${order}</if><if test="startRow != null and rowCount != null">LIMIT #{startRow}, #{rowCount}</if><if test="limit != null">LIMIT #{limit}</if></select>
<select id="countBySearch" parameterType="hashmap" resultType="Long">SELECT COUNT(*) FROM z_erc20_block <where><include refid="BaseSearchQuery"/></where></select>
<select id="selectAll" resultMap="BaseResultMap">SELECT <include refid="Base_Column_List"/> FROM z_erc20_block <if test="orderColumn != null"> Order by ${orderColumn} ${order} </if> <if test="limit != null">LIMIT #{limit}</if></select>
<select id="countAll" resultType="Long">SELECT COUNT(*) FROM z_erc20_block</select>
<select id="selectByIndex" resultMap="BaseResultMap">SELECT <include refid="Base_Column_List"/>FROM z_erc20_block WHERE eb_idx = #{idx}</select>
<delete id="deleteByIndex" parameterType="Long">DELETE FROM z_erc20_block WHERE eb_idx = #{idx}</delete>
</mapper>